<div class="mt-4">
    <form action="" method="POST">
      <div class="mb-3">
        <label for="search-input" class="form-label">Search key word</label>
        <input type="text" name="q" class="form-control" id="search-input" placeholder="Type keyword..."> 
      </div> 
      <button type="submit" class="btn btn-primary">Search</button>
    </form>
</div>