<nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="/admin">Blog Admin</a>
      </div>
      <div class="navbar-header">
        <a class="navbar-brand" href="/blog">Blog Home</a>
      </div>
      <ul class="nav navbar-nav">
        <li class="<%if(data.posts && data) {%>active<%}%>"><a href="/admin/post">Your Posts</a></li>
        <li class="<%if(data.users && data) {%>active<%}%>"><a href="/admin/user">Users</a></li> 
        <li><a href="/admin/logout">Log out</a></li> 
      </ul>
    </div>
  </nav>